<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Common</key>
	<dict>
		<key>季</key>
		<string>1</string>
		<key>年</key>
		<string>1</string>
		<key>旬</key>
		<string>1</string>
		<key>宝贝</key>
		<dict/>
		<key>丹药列表</key>
		<dict/>
		<key>子女</key>
		<dict/>
		<key>时辰</key>
		<string>1</string>
		<key>后宫频率 </key>
		<string>0</string>
		<key>安全度</key>
		<string>0</string>
		<key>生病次数</key>
		<string>0</string>
		<key>祭祀</key>
		<string>0</string>
		<key>战报</key>
		<string></string>
		<key>远嫁公主</key>
		<dict/>
	</dict>
	<key>Harem</key>
	<dict>
		<key>七子</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>七子</string>
		</dict>
		<key>五子</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>五子</string>
		</dict>
		<key>五官</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>五官</string>
		</dict>
		<key>修仪</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>修仪</string>
		</dict>
		<key>修媛</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>修媛</string>
		</dict>
		<key>修容</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>修容</string>
		</dict>
		<key>充仪</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>充仪</string>
		</dict>
		<key>充媛</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>充媛</string>
		</dict>
		<key>充容</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>充容</string>
		</dict>
		<key>充衣</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>充衣</string>
		</dict>
		<key>八子</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>八子</string>
		</dict>
		<key>娱灵</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>娱灵</string>
		</dict>
		<key>婕妤</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>婕妤</string>
		</dict>
		<key>婧娥</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>婧娥</string>
		</dict>
		<key>宝林</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>宝林</string>
		</dict>
		<key>少使</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>少使</string>
		</dict>
		<key>常在</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>常在</string>
		</dict>
		<key>御女</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>御女</string>
		</dict>
		<key>德妃</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>德妃</string>
		</dict>
		<key>才人</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>才人</string>
		</dict>
		<key>昭仪</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>昭仪</string>
		</dict>
		<key>昭媛</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>昭媛</string>
		</dict>
		<key>昭容</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>昭容</string>
		</dict>
		<key>淑女</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>淑女</string>
		</dict>
		<key>淑妃</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>淑妃</string>
		</dict>
		<key>皇后</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>皇后</string>
		</dict>
		<key>答应</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>答应</string>
		</dict>
		<key>美人</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>美人</string>
		</dict>
		<key>舞涓</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>舞涓</string>
		</dict>
		<key>良人</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>良人</string>
		</dict>
		<key>荣华</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>荣华</string>
		</dict>
		<key>贤妃</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>贤妃</string>
		</dict>
		<key>贵妃</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>贵妃</string>
		</dict>
		<key>选侍</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>选侍</string>
		</dict>
		<key>采女</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>采女</string>
		</dict>
		<key>长使</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>长使</string>
		</dict>
		<key>顺常</key>
		<dict>
			<key>ability</key>
			<string></string>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>illness</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>love</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>status</key>
			<string></string>
			<key>title</key>
			<string>顺常</string>
		</dict>
	</dict>
	<key>Idles</key>
	<dict/>
	<key>CountryInfo</key>
	<dict>
		<key>金钱</key>
		<string>0</string>
		<key>粮食</key>
		<string>0</string>
		<key>朴刀</key>
		<string>0</string>
		<key>皮甲</key>
		<string>0</string>
		<key>战马</key>
		<string>0</string>
		<key>铁炮</key>
		<string>0</string>
		<key>散兵营</key>
		<string>0</string>
		<key>护卫营</key>
		<string>0</string>
		<key>效义营</key>
		<string>0</string>
		<key>神枢营</key>
		<string>0</string>
		<key>神机营</key>
		<string>0</string>
		<key>税率</key>
		<string>0</string>
		<key>闲人</key>
		<string>0</string>
		<key>民夫</key>
		<string>0</string>
		<key>可用民夫</key>
		<string>0</string>
		<key>士兵</key>
		<string>0</string>
		<key>训练</key>
		<string>0</string>
		<key>朴刀操作</key>
		<string>0</string>
		<key>皮甲操作</key>
		<string>0</string>
		<key>战马操作</key>
		<string>0</string>
		<key>铁炮操作</key>
		<string>0</string>
		<key>训练周期</key>
		<string>0</string>
		<key>安全检视</key>
		<string>0</string>
		<key>调查经费</key>
		<string>0</string>
		<key>调查经费数值</key>
		<string>0</string>
		<key>犯人</key>
		<string>0</string>
	</dict>
	<key>Officals</key>
	<dict>
		<key>中央军</key>
		<dict>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>juewei</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>qinglian</key>
			<string></string>
			<key>title</key>
			<string>中央军</string>
			<key>wushu</key>
			<string></string>
			<key>yexin</key>
			<string></string>
			<key>zhihui</key>
			<string></string>
			<key>zhongcheng</key>
			<string></string>
		</dict>
		<key>兵部侍郎</key>
		<dict>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>juewei</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>qinglian</key>
			<string></string>
			<key>title</key>
			<string>兵部侍郎</string>
			<key>wushu</key>
			<string></string>
			<key>yexin</key>
			<string></string>
			<key>zhihui</key>
			<string></string>
			<key>zhongcheng</key>
			<string></string>
		</dict>
		<key>兵部尚书</key>
		<dict>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>juewei</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>qinglian</key>
			<string></string>
			<key>title</key>
			<string>兵部尚书</string>
			<key>wushu</key>
			<string></string>
			<key>yexin</key>
			<string></string>
			<key>zhihui</key>
			<string></string>
			<key>zhongcheng</key>
			<string></string>
		</dict>
		<key>刑部侍郎</key>
		<dict>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>juewei</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>qinglian</key>
			<string></string>
			<key>title</key>
			<string>刑部侍郎</string>
			<key>wushu</key>
			<string></string>
			<key>yexin</key>
			<string></string>
			<key>zhihui</key>
			<string></string>
			<key>zhongcheng</key>
			<string></string>
		</dict>
		<key>刑部尚书</key>
		<dict>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>juewei</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>qinglian</key>
			<string></string>
			<key>title</key>
			<string>刑部尚书</string>
			<key>wushu</key>
			<string></string>
			<key>yexin</key>
			<string></string>
			<key>zhihui</key>
			<string></string>
			<key>zhongcheng</key>
			<string></string>
		</dict>
		<key>吏部侍郎</key>
		<dict>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>juewei</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>qinglian</key>
			<string></string>
			<key>title</key>
			<string>吏部侍郎</string>
			<key>wushu</key>
			<string></string>
			<key>yexin</key>
			<string></string>
			<key>zhihui</key>
			<string></string>
			<key>zhongcheng</key>
			<string></string>
		</dict>
		<key>吏部尚书</key>
		<dict>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>juewei</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>qinglian</key>
			<string></string>
			<key>title</key>
			<string>吏部尚书</string>
			<key>wushu</key>
			<string></string>
			<key>yexin</key>
			<string></string>
			<key>zhihui</key>
			<string></string>
			<key>zhongcheng</key>
			<string></string>
		</dict>
		<key>宰相</key>
		<dict>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>juewei</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>qinglian</key>
			<string></string>
			<key>title</key>
			<string>宰相</string>
			<key>wushu</key>
			<string></string>
			<key>yexin</key>
			<string></string>
			<key>zhihui</key>
			<string></string>
			<key>zhongcheng</key>
			<string></string>
		</dict>
		<key>工部侍郎</key>
		<dict>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>juewei</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>qinglian</key>
			<string></string>
			<key>title</key>
			<string>工部侍郎</string>
			<key>wushu</key>
			<string></string>
			<key>yexin</key>
			<string></string>
			<key>zhihui</key>
			<string></string>
			<key>zhongcheng</key>
			<string></string>
		</dict>
		<key>工部尚书</key>
		<dict>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>juewei</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>qinglian</key>
			<string></string>
			<key>title</key>
			<string>工部尚书</string>
			<key>wushu</key>
			<string></string>
			<key>yexin</key>
			<string></string>
			<key>zhihui</key>
			<string></string>
			<key>zhongcheng</key>
			<string></string>
		</dict>
		<key>户部侍郎</key>
		<dict>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>juewei</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>qinglian</key>
			<string></string>
			<key>title</key>
			<string>户部侍郎</string>
			<key>wushu</key>
			<string></string>
			<key>yexin</key>
			<string></string>
			<key>zhihui</key>
			<string></string>
			<key>zhongcheng</key>
			<string></string>
		</dict>
		<key>户部尚书</key>
		<dict>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>juewei</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>qinglian</key>
			<string></string>
			<key>title</key>
			<string>户部尚书</string>
			<key>wushu</key>
			<string></string>
			<key>yexin</key>
			<string></string>
			<key>zhihui</key>
			<string></string>
			<key>zhongcheng</key>
			<string></string>
		</dict>
		<key>礼部侍郎</key>
		<dict>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>juewei</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>qinglian</key>
			<string></string>
			<key>title</key>
			<string>礼部侍郎</string>
			<key>wushu</key>
			<string></string>
			<key>yexin</key>
			<string></string>
			<key>zhihui</key>
			<string></string>
			<key>zhongcheng</key>
			<string></string>
		</dict>
		<key>礼部尚书</key>
		<dict>
			<key>age</key>
			<string></string>
			<key>exp</key>
			<string></string>
			<key>juewei</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>qinglian</key>
			<string></string>
			<key>title</key>
			<string>礼部尚书</string>
			<key>wushu</key>
			<string></string>
			<key>yexin</key>
			<string></string>
			<key>zhihui</key>
			<string></string>
			<key>zhongcheng</key>
			<string></string>
		</dict>
	</dict>
	<key>Places</key>
	<dict>
		<key>Camp</key>
		<dict>
			<key>0</key>
			<dict>
				<key>士兵</key>
				<string>25</string>
				<key>状态</key>
				<string>1</string>
				<key>跳</key>
				<string>5</string>
				<key>联姻</key>
				<string>0</string>
				<key>外交</key>
				<string>5</string>
				<key>装备</key>
				<string>1</string>
				<key>名称</key>
				<string>高丽</string>
				<key>友好度</key>
				<string>80</string>
				<key>贸易额</key>
				<string>0</string>
				<key>贸易年数</key>
				<string>0</string>
				<key>兵种</key>
				<string>高丽长枪兵</string>
				<key>战力</key>
				<string>4</string>
			</dict>
			<key>1</key>
			<dict>
				<key>士兵</key>
				<string>31</string>
				<key>状态</key>
				<string>1</string>
				<key>跳</key>
				<string>4</string>
				<key>联姻</key>
				<string>0</string>
				<key>外交</key>
				<string>2</string>
				<key>装备</key>
				<string>3</string>
				<key>名称</key>
				<string>日本</string>
				<key>友好度</key>
				<string>70</string>
				<key>贸易额</key>
				<string>0</string>
				<key>贸易年数</key>
				<string>0</string>
				<key>兵种</key>
				<string>带刀武士</string>
				<key>战力</key>
				<string>7</string>
			</dict>
			<key>2</key>
			<dict>
				<key>士兵</key>
				<string>40</string>
				<key>状态</key>
				<string>1</string>
				<key>跳</key>
				<string>6</string>
				<key>联姻</key>
				<string>0</string>
				<key>外交</key>
				<string>2</string>
				<key>装备</key>
				<string>4</string>
				<key>名称</key>
				<string>突厥</string>
				<key>友好度</key>
				<string>0</string>
				<key>贸易额</key>
				<string>0</string>
				<key>贸易年数</key>
				<string>0</string>
				<key>兵种</key>
				<string>突厥骑弓兵</string>
				<key>战力</key>
				<string>9</string>
			</dict>
			<key>3</key>
			<dict>
				<key>士兵</key>
				<string>40</string>
				<key>状态</key>
				<string>1</string>
				<key>跳</key>
				<string>6</string>
				<key>联姻</key>
				<string>0</string>
				<key>外交</key>
				<string>2</string>
				<key>装备</key>
				<string>4</string>
				<key>名称</key>
				<string>印度</string>
				<key>友好度</key>
				<string>0</string>
				<key>贸易额</key>
				<string>0</string>
				<key>贸易年数</key>
				<string>0</string>
				<key>兵种</key>
				<string>印度象兵</string>
				<key>战力</key>
				<string>9</string>
			</dict>
			<key>4</key>
			<dict>
				<key>士兵</key>
				<string>30</string>
				<key>状态</key>
				<string>1</string>
				<key>跳</key>
				<string>6</string>
				<key>联姻</key>
				<string>0</string>
				<key>外交</key>
				<string>3</string>
				<key>装备</key>
				<string>3</string>
				<key>名称</key>
				<string>契丹</string>
				<key>友好度</key>
				<string>10</string>
				<key>贸易额</key>
				<string>0</string>
				<key>贸易年数</key>
				<string>0</string>
				<key>兵种</key>
				<string>游骑兵</string>
				<key>战力</key>
				<string>8</string>
			</dict>
			<key>5</key>
			<dict>
				<key>士兵</key>
				<string>30</string>
				<key>状态</key>
				<string>1</string>
				<key>跳</key>
				<string>7</string>
				<key>联姻</key>
				<string>0</string>
				<key>外交</key>
				<string>4</string>
				<key>装备</key>
				<string>2</string>
				<key>名称</key>
				<string>南诏</string>
				<key>友好度</key>
				<string>50</string>
				<key>贸易额</key>
				<string>0</string>
				<key>贸易年数</key>
				<string>0</string>
				<key>兵种</key>
				<string>长弓手</string>
				<key>战力</key>
				<string>5</string>
			</dict>
			<key>6</key>
			<dict>
				<key>士兵</key>
				<string>50</string>
				<key>状态</key>
				<string>1</string>
				<key>跳</key>
				<string>3</string>
				<key>联姻</key>
				<string>0</string>
				<key>外交</key>
				<string>4</string>
				<key>装备</key>
				<string>3</string>
				<key>名称</key>
				<string>吐蕃</string>
				<key>友好度</key>
				<string>40</string>
				<key>贸易额</key>
				<string>0</string>
				<key>贸易年数</key>
				<string>0</string>
				<key>兵种</key>
				<string>狩猎骑兵</string>
				<key>战力</key>
				<string>6</string>
			</dict>
			<key>7</key>
			<dict>
				<key>士兵</key>
				<string>80</string>
				<key>状态</key>
				<string>1</string>
				<key>跳</key>
				<string>2</string>
				<key>联姻</key>
				<string>0</string>
				<key>外交</key>
				<string>4</string>
				<key>装备</key>
				<string>4</string>
				<key>名称</key>
				<string>罗马</string>
				<key>友好度</key>
				<string>50</string>
				<key>贸易额</key>
				<string>0</string>
				<key>贸易年数</key>
				<string>0</string>
				<key>兵种</key>
				<string>方阵长枪兵</string>
				<key>战力</key>
				<string>13</string>
			</dict>
			<key>8</key>
			<dict>
				<key>士兵</key>
				<string>12</string>
				<key>状态</key>
				<string>1</string>
				<key>跳</key>
				<string>7</string>
				<key>联姻</key>
				<string>0</string>
				<key>外交</key>
				<string>5</string>
				<key>装备</key>
				<string>1</string>
				<key>名称</key>
				<string>中国</string>
				<key>友好度</key>
				<string>0</string>
				<key>贸易额</key>
				<string>0</string>
				<key>贸易年数</key>
				<string>0</string>
				<key>兵种</key>
				<string>中国特种兵</string>
				<key>战力</key>
				<string>5</string>
			</dict>
			<key>9</key>
			<dict>
				<key>士兵</key>
				<string>20</string>
				<key>状态</key>
				<string>1</string>
				<key>跳</key>
				<string>7</string>
				<key>联姻</key>
				<string>0</string>
				<key>外交</key>
				<string>0</string>
				<key>装备</key>
				<string>2</string>
				<key>名称</key>
				<string>叛军</string>
				<key>友好度</key>
				<string>0</string>
				<key>贸易额</key>
				<string>0</string>
				<key>贸易年数</key>
				<string>0</string>
				<key>兵种</key>
				<string>叛军朴刀兵</string>
				<key>战力</key>
				<string>4</string>
			</dict>
		</dict>
		<key>Citys</key>
		<dict>
			<key>0</key>
			<dict>
				<key>类型</key>
				<string></string>
				<key>名称</key>
				<string></string>
				<key>人口</key>
				<string></string>
				<key>邻居</key>
				<string></string>
				<key>归属</key>
				<string></string>
				<key>农业</key>
				<string></string>
				<key>商业</key>
				<string></string>
				<key>矿业</key>
				<string></string>
				<key>牧业</key>
				<string></string>
				<key>开发度</key>
				<string></string>
				<key>城市方针</key>
				<string></string>
				<key>建筑</key>
				<dict>
					<key>寺庙</key>
					<string></string>
					<key>市集</key>
					<string></string>
					<key>城墙</key>
					<string></string>
					<key>衙门</key>
					<string></string>
					<key>义仓</key>
					<string></string>
					<key>校场</key>
					<string></string>
					<key>行宫</key>
					<string></string>
				</dict>
				<key>民心</key>
				<string></string>
				<key>壮丁</key>
				<string></string>
				<key>士兵</key>
				<string></string>
				<key>等级</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>PlayerInfo</key>
	<dict>
		<key>Age</key>
		<string>0</string>
		<key>Baoli</key>
		<string>0</string>
		<key>Caiyi</key>
		<string>0</string>
		<key>CountryTitle</key>
		<string></string>
		<key>Daode</key>
		<string>0</string>
		<key>GameLevel</key>
		<string>1</string>
		<key>Happyness</key>
		<string>0</string>
		<key>Healthy</key>
		<string>0</string>
		<key>Meili</key>
		<string>0</string>
		<key>PlayerName</key>
		<string></string>
		<key>Shouming</key>
		<string>100</string>
		<key>Strength</key>
		<string>0</string>
		<key>StrengthMax</key>
		<string>0</string>
		<key>Weiwang</key>
		<string>0</string>
		<key>Wenxue</key>
		<string>0</string>
		<key>Wushu</key>
		<string>0</string>
		<key>Zhihui</key>
		<string>0</string>
		<key>Zibei</key>
		<string>0</string>
	</dict>
	<key>Version</key>
	<string>2</string>
	<key>isSuccess</key>
	<string>0</string>
</dict>
</plist>
