<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirstName</key>
	<dict>
		<key>Item0</key>
		<string>李</string>
		<key>Item1</key>
		<string>王</string>
		<key>Item10</key>
		<string>徐</string>
		<key>Item100</key>
		<string>司马</string>
		<key>Item101</key>
		<string>上官</string>
		<key>Item102</key>
		<string>欧阳</string>
		<key>Item103</key>
		<string>皇甫</string>
		<key>Item104</key>
		<string>尉迟</string>
		<key>Item105</key>
		<string>公羊</string>
		<key>Item106</key>
		<string>司徒</string>
		<key>Item107</key>
		<string>司空</string>
		<key>Item108</key>
		<string>公孙</string>
		<key>Item109</key>
		<string>仲孙</string>
		<key>Item11</key>
		<string>孙</string>
		<key>Item110</key>
		<string>轩辕</string>
		<key>Item111</key>
		<string>令狐</string>
		<key>Item112</key>
		<string>钟离</string>
		<key>Item113</key>
		<string>宇文</string>
		<key>Item114</key>
		<string>长孙</string>
		<key>Item115</key>
		<string>慕容</string>
		<key>Item116</key>
		<string>呼延</string>
		<key>Item117</key>
		<string>夏侯</string>
		<key>Item118</key>
		<string>诸葛</string>
		<key>Item12</key>
		<string>马</string>
		<key>Item13</key>
		<string>朱</string>
		<key>Item14</key>
		<string>胡</string>
		<key>Item15</key>
		<string>郭</string>
		<key>Item16</key>
		<string>何</string>
		<key>Item17</key>
		<string>高</string>
		<key>Item18</key>
		<string>林</string>
		<key>Item19</key>
		<string>罗</string>
		<key>Item2</key>
		<string>张</string>
		<key>Item20</key>
		<string>郑</string>
		<key>Item21</key>
		<string>梁</string>
		<key>Item22</key>
		<string>谢</string>
		<key>Item23</key>
		<string>宋</string>
		<key>Item24</key>
		<string>唐</string>
		<key>Item25</key>
		<string>许</string>
		<key>Item26</key>
		<string>韩</string>
		<key>Item27</key>
		<string>冯</string>
		<key>Item28</key>
		<string>邓</string>
		<key>Item29</key>
		<string>曹</string>
		<key>Item3</key>
		<string>刘</string>
		<key>Item30</key>
		<string>彭</string>
		<key>Item31</key>
		<string>曾</string>
		<key>Item32</key>
		<string>萧</string>
		<key>Item33</key>
		<string>田</string>
		<key>Item34</key>
		<string>董</string>
		<key>Item35</key>
		<string>袁</string>
		<key>Item36</key>
		<string>潘</string>
		<key>Item37</key>
		<string>于</string>
		<key>Item38</key>
		<string>蒋</string>
		<key>Item39</key>
		<string>蔡</string>
		<key>Item4</key>
		<string>陈</string>
		<key>Item40</key>
		<string>余</string>
		<key>Item41</key>
		<string>杜</string>
		<key>Item42</key>
		<string>叶</string>
		<key>Item43</key>
		<string>程</string>
		<key>Item44</key>
		<string>苏</string>
		<key>Item45</key>
		<string>魏</string>
		<key>Item46</key>
		<string>吕</string>
		<key>Item47</key>
		<string>丁</string>
		<key>Item48</key>
		<string>任</string>
		<key>Item49</key>
		<string>沈</string>
		<key>Item5</key>
		<string>杨</string>
		<key>Item50</key>
		<string>姚</string>
		<key>Item51</key>
		<string>卢</string>
		<key>Item52</key>
		<string>姜</string>
		<key>Item53</key>
		<string>崔</string>
		<key>Item54</key>
		<string>钟</string>
		<key>Item55</key>
		<string>谭</string>
		<key>Item56</key>
		<string>陆</string>
		<key>Item57</key>
		<string>汪</string>
		<key>Item58</key>
		<string>范</string>
		<key>Item59</key>
		<string>金</string>
		<key>Item6</key>
		<string>黄</string>
		<key>Item60</key>
		<string>石</string>
		<key>Item61</key>
		<string>廖</string>
		<key>Item62</key>
		<string>贾</string>
		<key>Item63</key>
		<string>夏</string>
		<key>Item64</key>
		<string>韦</string>
		<key>Item65</key>
		<string>傅</string>
		<key>Item66</key>
		<string>方</string>
		<key>Item67</key>
		<string>白</string>
		<key>Item68</key>
		<string>邹</string>
		<key>Item69</key>
		<string>孟</string>
		<key>Item7</key>
		<string>赵</string>
		<key>Item70</key>
		<string>熊</string>
		<key>Item71</key>
		<string>秦</string>
		<key>Item72</key>
		<string>邱</string>
		<key>Item73</key>
		<string>江</string>
		<key>Item74</key>
		<string>尹</string>
		<key>Item75</key>
		<string>薛</string>
		<key>Item76</key>
		<string>阎</string>
		<key>Item77</key>
		<string>段</string>
		<key>Item78</key>
		<string>雷</string>
		<key>Item79</key>
		<string>侯</string>
		<key>Item8</key>
		<string>吴</string>
		<key>Item80</key>
		<string>龙</string>
		<key>Item81</key>
		<string>史</string>
		<key>Item82</key>
		<string>陶</string>
		<key>Item83</key>
		<string>黎</string>
		<key>Item84</key>
		<string>贺</string>
		<key>Item85</key>
		<string>顾</string>
		<key>Item86</key>
		<string>毛</string>
		<key>Item87</key>
		<string>郝</string>
		<key>Item88</key>
		<string>龚</string>
		<key>Item89</key>
		<string>邵</string>
		<key>Item9</key>
		<string>周</string>
		<key>Item90</key>
		<string>万</string>
		<key>Item91</key>
		<string>钱</string>
		<key>Item92</key>
		<string>严</string>
		<key>Item93</key>
		<string>覃</string>
		<key>Item94</key>
		<string>武</string>
		<key>Item95</key>
		<string>戴</string>
		<key>Item96</key>
		<string>莫</string>
		<key>Item97</key>
		<string>孔</string>
		<key>Item98</key>
		<string>向</string>
		<key>Item99</key>
		<string>汤</string>
	</dict>
	<key>LastNameBoy</key>
	<dict>
		<key>Item0</key>
		<string>伟</string>
		<key>Item1</key>
		<string>刚</string>
		<key>Item10</key>
		<string>东</string>
		<key>Item100</key>
		<string>政</string>
		<key>Item101</key>
		<string>谦</string>
		<key>Item102</key>
		<string>亨</string>
		<key>Item103</key>
		<string>奇</string>
		<key>Item104</key>
		<string>固</string>
		<key>Item105</key>
		<string>之</string>
		<key>Item106</key>
		<string>轮</string>
		<key>Item107</key>
		<string>翰</string>
		<key>Item108</key>
		<string>朗</string>
		<key>Item109</key>
		<string>伯</string>
		<key>Item11</key>
		<string>文</string>
		<key>Item110</key>
		<string>宏</string>
		<key>Item111</key>
		<string>言</string>
		<key>Item112</key>
		<string>若</string>
		<key>Item113</key>
		<string>鸣</string>
		<key>Item114</key>
		<string>朋</string>
		<key>Item115</key>
		<string>斌</string>
		<key>Item116</key>
		<string>梁</string>
		<key>Item117</key>
		<string>栋</string>
		<key>Item118</key>
		<string>维</string>
		<key>Item119</key>
		<string>启</string>
		<key>Item12</key>
		<string>辉</string>
		<key>Item120</key>
		<string>克</string>
		<key>Item121</key>
		<string>伦</string>
		<key>Item122</key>
		<string>翔</string>
		<key>Item123</key>
		<string>旭</string>
		<key>Item124</key>
		<string>鹏</string>
		<key>Item125</key>
		<string>泽</string>
		<key>Item126</key>
		<string>晨</string>
		<key>Item127</key>
		<string>辰</string>
		<key>Item128</key>
		<string>士</string>
		<key>Item129</key>
		<string>以</string>
		<key>Item13</key>
		<string>力</string>
		<key>Item130</key>
		<string>建</string>
		<key>Item131</key>
		<string>家</string>
		<key>Item132</key>
		<string>致</string>
		<key>Item133</key>
		<string>树</string>
		<key>Item134</key>
		<string>炎</string>
		<key>Item135</key>
		<string>德</string>
		<key>Item136</key>
		<string>行</string>
		<key>Item137</key>
		<string>时</string>
		<key>Item138</key>
		<string>泰</string>
		<key>Item139</key>
		<string>盛</string>
		<key>Item14</key>
		<string>明</string>
		<key>Item140</key>
		<string>雄</string>
		<key>Item141</key>
		<string>琛</string>
		<key>Item142</key>
		<string>钧</string>
		<key>Item143</key>
		<string>冠</string>
		<key>Item144</key>
		<string>策</string>
		<key>Item145</key>
		<string>腾</string>
		<key>Item146</key>
		<string>楠</string>
		<key>Item147</key>
		<string>榕</string>
		<key>Item148</key>
		<string>风</string>
		<key>Item149</key>
		<string>航</string>
		<key>Item15</key>
		<string>永</string>
		<key>Item150</key>
		<string>弘</string>
		<key>Item16</key>
		<string>健</string>
		<key>Item17</key>
		<string>世</string>
		<key>Item18</key>
		<string>广</string>
		<key>Item19</key>
		<string>志</string>
		<key>Item2</key>
		<string>勇</string>
		<key>Item20</key>
		<string>义</string>
		<key>Item21</key>
		<string>兴</string>
		<key>Item22</key>
		<string>良</string>
		<key>Item23</key>
		<string>海</string>
		<key>Item24</key>
		<string>山</string>
		<key>Item25</key>
		<string>仁</string>
		<key>Item26</key>
		<string>波</string>
		<key>Item27</key>
		<string>宁</string>
		<key>Item28</key>
		<string>贵</string>
		<key>Item29</key>
		<string>福</string>
		<key>Item3</key>
		<string>毅</string>
		<key>Item30</key>
		<string>生</string>
		<key>Item31</key>
		<string>龙</string>
		<key>Item32</key>
		<string>元</string>
		<key>Item33</key>
		<string>全</string>
		<key>Item34</key>
		<string>国</string>
		<key>Item35</key>
		<string>胜</string>
		<key>Item36</key>
		<string>学</string>
		<key>Item37</key>
		<string>祥</string>
		<key>Item38</key>
		<string>才</string>
		<key>Item39</key>
		<string>发</string>
		<key>Item4</key>
		<string>俊</string>
		<key>Item40</key>
		<string>武</string>
		<key>Item41</key>
		<string>新</string>
		<key>Item42</key>
		<string>利</string>
		<key>Item43</key>
		<string>清</string>
		<key>Item44</key>
		<string>飞</string>
		<key>Item45</key>
		<string>彬</string>
		<key>Item46</key>
		<string>富</string>
		<key>Item47</key>
		<string>顺</string>
		<key>Item48</key>
		<string>信</string>
		<key>Item49</key>
		<string>子</string>
		<key>Item5</key>
		<string>峰</string>
		<key>Item50</key>
		<string>杰</string>
		<key>Item51</key>
		<string>涛</string>
		<key>Item52</key>
		<string>昌</string>
		<key>Item53</key>
		<string>成</string>
		<key>Item54</key>
		<string>康</string>
		<key>Item55</key>
		<string>星</string>
		<key>Item56</key>
		<string>光</string>
		<key>Item57</key>
		<string>天</string>
		<key>Item58</key>
		<string>达</string>
		<key>Item59</key>
		<string>安</string>
		<key>Item6</key>
		<string>强</string>
		<key>Item60</key>
		<string>岩</string>
		<key>Item61</key>
		<string>中</string>
		<key>Item62</key>
		<string>茂</string>
		<key>Item63</key>
		<string>进</string>
		<key>Item64</key>
		<string>林</string>
		<key>Item65</key>
		<string>有</string>
		<key>Item66</key>
		<string>坚</string>
		<key>Item67</key>
		<string>和</string>
		<key>Item68</key>
		<string>彪</string>
		<key>Item69</key>
		<string>博</string>
		<key>Item7</key>
		<string>军</string>
		<key>Item70</key>
		<string>诚</string>
		<key>Item71</key>
		<string>先</string>
		<key>Item72</key>
		<string>敬</string>
		<key>Item73</key>
		<string>震</string>
		<key>Item74</key>
		<string>振</string>
		<key>Item75</key>
		<string>壮</string>
		<key>Item76</key>
		<string>会</string>
		<key>Item77</key>
		<string>思</string>
		<key>Item78</key>
		<string>群</string>
		<key>Item79</key>
		<string>豪</string>
		<key>Item8</key>
		<string>平</string>
		<key>Item80</key>
		<string>心</string>
		<key>Item81</key>
		<string>邦</string>
		<key>Item82</key>
		<string>承</string>
		<key>Item83</key>
		<string>乐</string>
		<key>Item84</key>
		<string>绍</string>
		<key>Item85</key>
		<string>功</string>
		<key>Item86</key>
		<string>松</string>
		<key>Item87</key>
		<string>善</string>
		<key>Item88</key>
		<string>厚</string>
		<key>Item89</key>
		<string>庆</string>
		<key>Item9</key>
		<string>保</string>
		<key>Item90</key>
		<string>磊</string>
		<key>Item91</key>
		<string>民</string>
		<key>Item92</key>
		<string>友</string>
		<key>Item93</key>
		<string>裕</string>
		<key>Item94</key>
		<string>河</string>
		<key>Item95</key>
		<string>哲</string>
		<key>Item96</key>
		<string>江</string>
		<key>Item97</key>
		<string>超</string>
		<key>Item98</key>
		<string>浩</string>
		<key>Item99</key>
		<string>亮</string>
	</dict>
	<key>LastNameGirl</key>
	<dict>
		<key>Item0</key>
		<string>秀</string>
		<key>Item1</key>
		<string>娟</string>
		<key>Item10</key>
		<string>惠</string>
		<key>Item100</key>
		<string>瑗</string>
		<key>Item101</key>
		<string>琰</string>
		<key>Item102</key>
		<string>韵</string>
		<key>Item103</key>
		<string>融</string>
		<key>Item104</key>
		<string>园</string>
		<key>Item105</key>
		<string>艺</string>
		<key>Item106</key>
		<string>咏</string>
		<key>Item107</key>
		<string>卿</string>
		<key>Item108</key>
		<string>聪</string>
		<key>Item109</key>
		<string>澜</string>
		<key>Item11</key>
		<string>珠</string>
		<key>Item110</key>
		<string>纯</string>
		<key>Item111</key>
		<string>毓</string>
		<key>Item112</key>
		<string>悦</string>
		<key>Item113</key>
		<string>昭</string>
		<key>Item114</key>
		<string>冰</string>
		<key>Item115</key>
		<string>爽</string>
		<key>Item116</key>
		<string>琬</string>
		<key>Item117</key>
		<string>茗</string>
		<key>Item118</key>
		<string>羽</string>
		<key>Item119</key>
		<string>希</string>
		<key>Item12</key>
		<string>翠</string>
		<key>Item120</key>
		<string>宁</string>
		<key>Item121</key>
		<string>欣</string>
		<key>Item122</key>
		<string>飘</string>
		<key>Item123</key>
		<string>育</string>
		<key>Item124</key>
		<string>滢</string>
		<key>Item125</key>
		<string>馥</string>
		<key>Item126</key>
		<string>筠</string>
		<key>Item127</key>
		<string>柔</string>
		<key>Item128</key>
		<string>竹</string>
		<key>Item129</key>
		<string>霭</string>
		<key>Item13</key>
		<string>雅</string>
		<key>Item130</key>
		<string>凝</string>
		<key>Item131</key>
		<string>晓</string>
		<key>Item132</key>
		<string>欢</string>
		<key>Item133</key>
		<string>霄</string>
		<key>Item134</key>
		<string>枫</string>
		<key>Item135</key>
		<string>芸</string>
		<key>Item136</key>
		<string>菲</string>
		<key>Item137</key>
		<string>寒</string>
		<key>Item138</key>
		<string>伊</string>
		<key>Item139</key>
		<string>亚</string>
		<key>Item14</key>
		<string>芝</string>
		<key>Item140</key>
		<string>宜</string>
		<key>Item141</key>
		<string>可</string>
		<key>Item142</key>
		<string>姬</string>
		<key>Item143</key>
		<string>舒</string>
		<key>Item144</key>
		<string>影</string>
		<key>Item145</key>
		<string>荔</string>
		<key>Item146</key>
		<string>枝</string>
		<key>Item147</key>
		<string>思</string>
		<key>Item148</key>
		<string>美</string>
		<key>Item149</key>
		<string>萱</string>
		<key>Item15</key>
		<string>玉</string>
		<key>Item16</key>
		<string>萍</string>
		<key>Item17</key>
		<string>红</string>
		<key>Item18</key>
		<string>娥</string>
		<key>Item19</key>
		<string>玲</string>
		<key>Item2</key>
		<string>英</string>
		<key>Item20</key>
		<string>芬</string>
		<key>Item21</key>
		<string>芳</string>
		<key>Item22</key>
		<string>燕</string>
		<key>Item23</key>
		<string>彩</string>
		<key>Item24</key>
		<string>春</string>
		<key>Item25</key>
		<string>菊</string>
		<key>Item26</key>
		<string>兰</string>
		<key>Item27</key>
		<string>凤</string>
		<key>Item28</key>
		<string>洁</string>
		<key>Item29</key>
		<string>梅</string>
		<key>Item3</key>
		<string>华</string>
		<key>Item30</key>
		<string>琳</string>
		<key>Item31</key>
		<string>素</string>
		<key>Item32</key>
		<string>云</string>
		<key>Item33</key>
		<string>莲</string>
		<key>Item34</key>
		<string>真</string>
		<key>Item35</key>
		<string>环</string>
		<key>Item36</key>
		<string>雪</string>
		<key>Item37</key>
		<string>荣</string>
		<key>Item38</key>
		<string>爱</string>
		<key>Item39</key>
		<string>妹</string>
		<key>Item4</key>
		<string>慧</string>
		<key>Item40</key>
		<string>霞</string>
		<key>Item41</key>
		<string>香</string>
		<key>Item42</key>
		<string>月</string>
		<key>Item43</key>
		<string>莺</string>
		<key>Item44</key>
		<string>媛</string>
		<key>Item45</key>
		<string>艳</string>
		<key>Item46</key>
		<string>瑞</string>
		<key>Item47</key>
		<string>凡</string>
		<key>Item48</key>
		<string>佳</string>
		<key>Item49</key>
		<string>嘉</string>
		<key>Item5</key>
		<string>巧</string>
		<key>Item50</key>
		<string>琼</string>
		<key>Item51</key>
		<string>勤</string>
		<key>Item52</key>
		<string>珍</string>
		<key>Item53</key>
		<string>贞</string>
		<key>Item54</key>
		<string>莉</string>
		<key>Item55</key>
		<string>桂</string>
		<key>Item56</key>
		<string>娣</string>
		<key>Item57</key>
		<string>叶</string>
		<key>Item58</key>
		<string>璧</string>
		<key>Item59</key>
		<string>璐</string>
		<key>Item6</key>
		<string>美</string>
		<key>Item60</key>
		<string>娅</string>
		<key>Item61</key>
		<string>琦</string>
		<key>Item62</key>
		<string>晶</string>
		<key>Item63</key>
		<string>妍</string>
		<key>Item64</key>
		<string>茜</string>
		<key>Item65</key>
		<string>秋</string>
		<key>Item66</key>
		<string>珊</string>
		<key>Item67</key>
		<string>莎</string>
		<key>Item68</key>
		<string>锦</string>
		<key>Item69</key>
		<string>黛</string>
		<key>Item7</key>
		<string>娜</string>
		<key>Item70</key>
		<string>青</string>
		<key>Item71</key>
		<string>倩</string>
		<key>Item72</key>
		<string>婷</string>
		<key>Item73</key>
		<string>姣</string>
		<key>Item74</key>
		<string>婉</string>
		<key>Item75</key>
		<string>娴</string>
		<key>Item76</key>
		<string>瑾</string>
		<key>Item77</key>
		<string>颖</string>
		<key>Item78</key>
		<string>露</string>
		<key>Item79</key>
		<string>瑶</string>
		<key>Item8</key>
		<string>静</string>
		<key>Item80</key>
		<string>怡</string>
		<key>Item81</key>
		<string>婵</string>
		<key>Item82</key>
		<string>雁</string>
		<key>Item83</key>
		<string>蓓</string>
		<key>Item84</key>
		<string>纨</string>
		<key>Item85</key>
		<string>仪</string>
		<key>Item86</key>
		<string>荷</string>
		<key>Item87</key>
		<string>丹</string>
		<key>Item88</key>
		<string>蓉</string>
		<key>Item89</key>
		<string>眉</string>
		<key>Item9</key>
		<string>淑</string>
		<key>Item90</key>
		<string>君</string>
		<key>Item91</key>
		<string>琴</string>
		<key>Item92</key>
		<string>蕊</string>
		<key>Item93</key>
		<string>薇</string>
		<key>Item94</key>
		<string>菁</string>
		<key>Item95</key>
		<string>梦</string>
		<key>Item96</key>
		<string>岚</string>
		<key>Item97</key>
		<string>苑</string>
		<key>Item98</key>
		<string>婕</string>
		<key>Item99</key>
		<string>馨</string>
	</dict>
	<key>MiddleName</key>
	<dict>
		<key>Item0</key>
		<string>允</string>
		<key>Item1</key>
		<string>文</string>
		<key>Item10</key>
		<string>顺</string>
		<key>Item100</key>
		<string>孟</string>
		<key>Item101</key>
		<string>季</string>
		<key>Item102</key>
		<string>均</string>
		<key>Item103</key>
		<string>荣</string>
		<key>Item104</key>
		<string>显</string>
		<key>Item105</key>
		<string>英</string>
		<key>Item106</key>
		<string>华</string>
		<key>Item107</key>
		<string>蕴</string>
		<key>Item108</key>
		<string>盛</string>
		<key>Item109</key>
		<string>容</string>
		<key>Item11</key>
		<string>道</string>
		<key>Item110</key>
		<string>宏</string>
		<key>Item111</key>
		<string>才</string>
		<key>Item112</key>
		<string>升</string>
		<key>Item113</key>
		<string>博</string>
		<key>Item114</key>
		<string>衍</string>
		<key>Item115</key>
		<string>茂</string>
		<key>Item116</key>
		<string>士</string>
		<key>Item117</key>
		<string>立</string>
		<key>Item118</key>
		<string>全</string>
		<key>Item119</key>
		<string>功</string>
		<key>Item12</key>
		<string>宜</string>
		<key>Item120</key>
		<string>贤</string>
		<key>Item121</key>
		<string>能</string>
		<key>Item122</key>
		<string>长</string>
		<key>Item123</key>
		<string>可</string>
		<key>Item124</key>
		<string>庆</string>
		<key>Item125</key>
		<string>睿</string>
		<key>Item126</key>
		<string>智</string>
		<key>Item127</key>
		<string>实</string>
		<key>Item128</key>
		<string>堪</string>
		<key>Item129</key>
		<string>宗</string>
		<key>Item13</key>
		<string>逢</string>
		<key>Item130</key>
		<string>养</string>
		<key>Item131</key>
		<string>渊</string>
		<key>Item132</key>
		<string>雅</string>
		<key>Item133</key>
		<string>寅</string>
		<key>Item134</key>
		<string>思</string>
		<key>Item135</key>
		<string>复</string>
		<key>Item136</key>
		<string>会</string>
		<key>Item137</key>
		<string>通</string>
		<key>Item138</key>
		<string>肇</string>
		<key>Item139</key>
		<string>泰</string>
		<key>Item14</key>
		<string>吉</string>
		<key>Item140</key>
		<string>阳</string>
		<key>Item141</key>
		<string>当</string>
		<key>Item142</key>
		<string>健</string>
		<key>Item143</key>
		<string>观</string>
		<key>Item144</key>
		<string>颐</string>
		<key>Item145</key>
		<string>寿</string>
		<key>Item146</key>
		<string>以</string>
		<key>Item147</key>
		<string>弘</string>
		<key>Item148</key>
		<string>振</string>
		<key>Item149</key>
		<string>举</string>
		<key>Item15</key>
		<string>师</string>
		<key>Item150</key>
		<string>希</string>
		<key>Item151</key>
		<string>兼</string>
		<key>Item152</key>
		<string>达</string>
		<key>Item153</key>
		<string>康</string>
		<key>Item154</key>
		<string>庄</string>
		<key>Item155</key>
		<string>遇</string>
		<key>Item156</key>
		<string>本</string>
		<key>Item157</key>
		<string>宁</string>
		<key>Item158</key>
		<string>悦</string>
		<key>Item159</key>
		<string>友</string>
		<key>Item16</key>
		<string>良</string>
		<key>Item160</key>
		<string>申</string>
		<key>Item161</key>
		<string>宾</string>
		<key>Item162</key>
		<string>让</string>
		<key>Item163</key>
		<string>承</string>
		<key>Item164</key>
		<string>宣</string>
		<key>Item165</key>
		<string>奉</string>
		<key>Item166</key>
		<string>至</string>
		<key>Item167</key>
		<string>平</string>
		<key>Item168</key>
		<string>懋</string>
		<key>Item169</key>
		<string>进</string>
		<key>Item17</key>
		<string>善</string>
		<key>Item170</key>
		<string>深</string>
		<key>Item171</key>
		<string>滋</string>
		<key>Item172</key>
		<string>益</string>
		<key>Item173</key>
		<string>端</string>
		<key>Item174</key>
		<string>居</string>
		<key>Item175</key>
		<string>务</string>
		<key>Item176</key>
		<string>穆</string>
		<key>Item177</key>
		<string>清</string>
		<key>Item178</key>
		<string>久</string>
		<key>Item179</key>
		<string>镇</string>
		<key>Item18</key>
		<string>用</string>
		<key>Item180</key>
		<string>开</string>
		<key>Item181</key>
		<string>方</string>
		<key>Item182</key>
		<string>岳</string>
		<key>Item183</key>
		<string>扬</string>
		<key>Item184</key>
		<string>威</string>
		<key>Item185</key>
		<string>谨</string>
		<key>Item186</key>
		<string>礼</string>
		<key>Item187</key>
		<string>仪</string>
		<key>Item188</key>
		<string>刚</string>
		<key>Item189</key>
		<string>毅</string>
		<key>Item19</key>
		<string>晟</string>
		<key>Item190</key>
		<string>循</string>
		<key>Item191</key>
		<string>超</string>
		<key>Item192</key>
		<string>卓</string>
		<key>Item193</key>
		<string>权</string>
		<key>Item194</key>
		<string>衡</string>
		<key>Item195</key>
		<string>素</string>
		<key>Item196</key>
		<string>自</string>
		<key>Item197</key>
		<string>持</string>
		<key>Item198</key>
		<string>逊</string>
		<key>Item199</key>
		<string>仕</string>
		<key>Item2</key>
		<string>遵</string>
		<key>Item20</key>
		<string>尚</string>
		<key>Item200</key>
		<string>成</string>
		<key>Item201</key>
		<string>聪</string>
		<key>Item202</key>
		<string>俊</string>
		<key>Item203</key>
		<string>充</string>
		<key>Item204</key>
		<string>廷</string>
		<key>Item205</key>
		<string>鼐</string>
		<key>Item206</key>
		<string>鼎</string>
		<key>Item207</key>
		<string>彝</string>
		<key>Item208</key>
		<string>传</string>
		<key>Item209</key>
		<string>贻</string>
		<key>Item21</key>
		<string>志</string>
		<key>Item210</key>
		<string>连</string>
		<key>Item211</key>
		<string>秀</string>
		<key>Item212</key>
		<string>郁</string>
		<key>Item213</key>
		<string>炳</string>
		<key>Item214</key>
		<string>燿</string>
		<key>Item215</key>
		<string>壮</string>
		<key>Item216</key>
		<string>洪</string>
		<key>Item217</key>
		<string>基</string>
		<key>Item218</key>
		<string>瞻</string>
		<key>Item219</key>
		<string>禄</string>
		<key>Item22</key>
		<string>公</string>
		<key>Item220</key>
		<string>贡</string>
		<key>Item221</key>
		<string>真</string>
		<key>Item222</key>
		<string>弼</string>
		<key>Item223</key>
		<string>缙</string>
		<key>Item224</key>
		<string>绅</string>
		<key>Item225</key>
		<string>识</string>
		<key>Item226</key>
		<string>烈</string>
		<key>Item227</key>
		<string>忠</string>
		<key>Item228</key>
		<string>曦</string>
		<key>Item229</key>
		<string>晖</string>
		<key>Item23</key>
		<string>诚</string>
		<key>Item230</key>
		<string>跻</string>
		<key>Item231</key>
		<string>当</string>
		<key>Item232</key>
		<string>运</string>
		<key>Item233</key>
		<string>凯</string>
		<key>Item234</key>
		<string>谏</string>
		<key>Item235</key>
		<string>处</string>
		<key>Item236</key>
		<string>恒</string>
		<key>Item237</key>
		<string>隆</string>
		<key>Item238</key>
		<string>贵</string>
		<key>Item239</key>
		<string>豪</string>
		<key>Item24</key>
		<string>秉</string>
		<key>Item240</key>
		<string>恩</string>
		<key>Item241</key>
		<string>宠</string>
		<key>Item242</key>
		<string>致</string>
		<key>Item243</key>
		<string>宪</string>
		<key>Item244</key>
		<string>术</string>
		<key>Item245</key>
		<string>俨</string>
		<key>Item246</key>
		<string>尊</string>
		<key>Item247</key>
		<string>儒</string>
		<key>Item248</key>
		<string>云</string>
		<key>Item249</key>
		<string>仍</string>
		<key>Item25</key>
		<string>惟</string>
		<key>Item250</key>
		<string>祺</string>
		<key>Item251</key>
		<string>保</string>
		<key>Item252</key>
		<string>合</string>
		<key>Item253</key>
		<string>操</string>
		<key>Item254</key>
		<string>翰</string>
		<key>Item255</key>
		<string>丽</string>
		<key>Item256</key>
		<string>龙</string>
		<key>Item257</key>
		<string>舆</string>
		<key>Item258</key>
		<string>秩</string>
		<key>Item259</key>
		<string>邃</string>
		<key>Item26</key>
		<string>怀</string>
		<key>Item260</key>
		<string>寘</string>
		<key>Item261</key>
		<string>台</string>
		<key>Item262</key>
		<string>鼒</string>
		<key>Item263</key>
		<string>倪</string>
		<key>Item264</key>
		<string>伸</string>
		<key>Item265</key>
		<string>帅</string>
		<key>Item266</key>
		<string>倬</string>
		<key>Item267</key>
		<string>奇</string>
		<key>Item268</key>
		<string>适</string>
		<key>Item269</key>
		<string>完</string>
		<key>Item27</key>
		<string>敬</string>
		<key>Item270</key>
		<string>因</string>
		<key>Item271</key>
		<string>巨</string>
		<key>Item272</key>
		<string>衎</string>
		<key>Item273</key>
		<string>骘</string>
		<key>Item274</key>
		<string>眷</string>
		<key>Item275</key>
		<string>发</string>
		<key>Item276</key>
		<string>需</string>
		<key>Item277</key>
		<string>毗</string>
		<key>Item278</key>
		<string>磐</string>
		<key>Item279</key>
		<string>觐</string>
		<key>Item28</key>
		<string>谊</string>
		<key>Item280</key>
		<string>宸</string>
		<key>Item281</key>
		<string>拱</string>
		<key>Item282</key>
		<string>多</string>
		<key>Item283</key>
		<string>谋</string>
		<key>Item284</key>
		<string>统</string>
		<key>Item285</key>
		<string>议</string>
		<key>Item286</key>
		<string>中</string>
		<key>Item287</key>
		<string>总</string>
		<key>Item288</key>
		<string>添</string>
		<key>Item289</key>
		<string>支</string>
		<key>Item29</key>
		<string>存</string>
		<key>Item290</key>
		<string>庶</string>
		<key>Item291</key>
		<string>阔</string>
		<key>Item292</key>
		<string>哲</string>
		<key>Item293</key>
		<string>向</string>
		<key>Item294</key>
		<string>亲</string>
		<key>Item295</key>
		<string>衷</string>
		<key>Item296</key>
		<string>徽</string>
		<key>Item297</key>
		<string>音</string>
		<key>Item298</key>
		<string>膺</string>
		<key>Item299</key>
		<string>彦</string>
		<key>Item3</key>
		<string>祖</string>
		<key>Item30</key>
		<string>辅</string>
		<key>Item300</key>
		<string>誉</string>
		<key>Item301</key>
		<string>定</string>
		<key>Item302</key>
		<string>禋</string>
		<key>Item303</key>
		<string>雍</string>
		<key>Item304</key>
		<string>崇</string>
		<key>Item305</key>
		<string>礼</string>
		<key>Item306</key>
		<string>原</string>
		<key>Item307</key>
		<string>谘</string>
		<key>Item308</key>
		<string>访</string>
		<key>Item309</key>
		<string>宽</string>
		<key>Item31</key>
		<string>嗣</string>
		<key>Item310</key>
		<string>镕</string>
		<key>Item311</key>
		<string>喜</string>
		<key>Item312</key>
		<string>贲</string>
		<key>Item313</key>
		<string>从</string>
		<key>Item314</key>
		<string>赋</string>
		<key>Item315</key>
		<string>质</string>
		<key>Item316</key>
		<string>僖</string>
		<key>Item317</key>
		<string>雄</string>
		<key>Item318</key>
		<string>敞</string>
		<key>Item319</key>
		<string>丛</string>
		<key>Item32</key>
		<string>资</string>
		<key>Item320</key>
		<string>兴</string>
		<key>Item321</key>
		<string>阐</string>
		<key>Item322</key>
		<string>福</string>
		<key>Item323</key>
		<string>昌</string>
		<key>Item324</key>
		<string>笃</string>
		<key>Item325</key>
		<string>谐</string>
		<key>Item326</key>
		<string>恂</string>
		<key>Item327</key>
		<string>怿</string>
		<key>Item328</key>
		<string>豫</string>
		<key>Item329</key>
		<string>扩</string>
		<key>Item33</key>
		<string>廉</string>
		<key>Item330</key>
		<string>霁</string>
		<key>Item331</key>
		<string>昱</string>
		<key>Item332</key>
		<string>祯</string>
		<key>Item333</key>
		<string>祥</string>
		<key>Item334</key>
		<string>冲</string>
		<key>Item335</key>
		<string>范</string>
		<key>Item336</key>
		<string>徵</string>
		<key>Item337</key>
		<string>偕</string>
		<key>Item338</key>
		<string>旭</string>
		<key>Item339</key>
		<string>融</string>
		<key>Item34</key>
		<string>直</string>
		<key>Item340</key>
		<string>谟</string>
		<key>Item341</key>
		<string>朗</string>
		<key>Item342</key>
		<string>璟</string>
		<key>Item343</key>
		<string>逵</string>
		<key>Item344</key>
		<string>亶</string>
		<key>Item345</key>
		<string>韶</string>
		<key>Item346</key>
		<string>愉</string>
		<key>Item347</key>
		<string>灏</string>
		<key>Item348</key>
		<string>慥</string>
		<key>Item349</key>
		<string>令</string>
		<key>Item35</key>
		<string>匡</string>
		<key>Item350</key>
		<string>绪</string>
		<key>Item351</key>
		<string>价</string>
		<key>Item352</key>
		<string>蕃</string>
		<key>Item353</key>
		<string>维</string>
		<key>Item354</key>
		<string>佶</string>
		<key>Item355</key>
		<string>幼</string>
		<key>Item356</key>
		<string>诠</string>
		<key>Item357</key>
		<string>勋</string>
		<key>Item358</key>
		<string>胤</string>
		<key>Item359</key>
		<string>恬</string>
		<key>Item36</key>
		<string>时</string>
		<key>Item360</key>
		<string>珵</string>
		<key>Item361</key>
		<string>效</string>
		<key>Item362</key>
		<string>回</string>
		<key>Item363</key>
		<string>瑝</string>
		<key>Item364</key>
		<string>湜</string>
		<key>Item365</key>
		<string>源</string>
		<key>Item366</key>
		<string>諲</string>
		<key>Item367</key>
		<string>晳</string>
		<key>Item368</key>
		<string>暐</string>
		<key>Item369</key>
		<string>圭</string>
		<key>Item37</key>
		<string>永</string>
		<key>Item370</key>
		<string>璧</string>
		<key>Item371</key>
		<string>澈</string>
		<key>Item372</key>
		<string>澄</string>
		<key>Item373</key>
		<string>昂</string>
		<key>Item374</key>
		<string>斐</string>
		<key>Item375</key>
		<string>序</string>
		<key>Item376</key>
		<string>斌</string>
		<key>Item377</key>
		<string>廷</string>
		<key>Item378</key>
		<string>赏</string>
		<key>Item379</key>
		<string>凝</string>
		<key>Item38</key>
		<string>信</string>
		<key>Item380</key>
		<string>覃</string>
		<key>Item381</key>
		<string>浚</string>
		<key>Item382</key>
		<string>祉</string>
		<key>Item383</key>
		<string>襄</string>
		<key>Item384</key>
		<string>恢</string>
		<key>Item385</key>
		<string>严</string>
		<key>Item386</key>
		<string>颛</string>
		<key>Item387</key>
		<string>辑</string>
		<key>Item388</key>
		<string>矩</string>
		<key>Item389</key>
		<string>缜</string>
		<key>Item39</key>
		<string>敦</string>
		<key>Item390</key>
		<string>密</string>
		<key>Item391</key>
		<string>廓</string>
		<key>Item392</key>
		<string>程</string>
		<key>Item393</key>
		<string>纲</string>
		<key>Item394</key>
		<string>琼</string>
		<key>Item395</key>
		<string>芝</string>
		<key>Item396</key>
		<string>弥</string>
		<key>Item397</key>
		<string>宇</string>
		<key>Item398</key>
		<string>宙</string>
		<key>Item399</key>
		<string>硕</string>
		<key>Item4</key>
		<string>训</string>
		<key>Item40</key>
		<string>济</string>
		<key>Item400</key>
		<string>器</string>
		<key>Item401</key>
		<string>聿</string>
		<key>Item402</key>
		<string>琳</string>
		<key>Item403</key>
		<string>琚</string>
		<key>Item404</key>
		<string>启</string>
		<key>Item405</key>
		<string>龄</string>
		<key>Item406</key>
		<string>蒙</string>
		<key>Item407</key>
		<string>颂</string>
		<key>Item408</key>
		<string>体</string>
		<key>Item409</key>
		<string>嘉</string>
		<key>Item41</key>
		<string>美</string>
		<key>Item410</key>
		<string>历</string>
		<key>Item411</key>
		<string>协</string>
		<key>Item412</key>
		<string>铭</string>
		<key>Item413</key>
		<string>图</string>
		<key>Item414</key>
		<string>伟</string>
		<key>Item415</key>
		<string>闻</string>
		<key>Item416</key>
		<string>参</string>
		<key>Item417</key>
		<string>望</string>
		<key>Item418</key>
		<string>箴</string>
		<key>Item419</key>
		<string>诲</string>
		<key>Item42</key>
		<string>锺</string>
		<key>Item420</key>
		<string>洎</string>
		<key>Item421</key>
		<string>皋</string>
		<key>Item422</key>
		<string>夔</string>
		<key>Item423</key>
		<string>麒</string>
		<key>Item424</key>
		<string>麟</string>
		<key>Item425</key>
		<string>馀</string>
		<key>Item426</key>
		<string>积</string>
		<key>Item427</key>
		<string>兆</string>
		<key>Item428</key>
		<string>奎</string>
		<key>Item429</key>
		<string>颖</string>
		<key>Item43</key>
		<string>奇</string>
		<key>Item430</key>
		<string>晔</string>
		<key>Item431</key>
		<string>璇</string>
		<key>Item432</key>
		<string>玑</string>
		<key>Item433</key>
		<string>颙</string>
		<key>Item434</key>
		<string>勉</string>
		<key>Item435</key>
		<string>諟</string>
		<key>Item436</key>
		<string>訏</string>
		<key>Item437</key>
		<string>典</string>
		<key>Item438</key>
		<string>褒</string>
		<key>Item439</key>
		<string>珂</string>
		<key>Item44</key>
		<string>表</string>
		<key>Item440</key>
		<string>采</string>
		<key>Item441</key>
		<string>凤</string>
		<key>Item442</key>
		<string>琛</string>
		<key>Item443</key>
		<string>应</string>
		<key>Item444</key>
		<string>畴</string>
		<key>Item445</key>
		<string>颁</string>
		<key>Item446</key>
		<string>胄</string>
		<key>Item447</key>
		<string>选</string>
		<key>Item448</key>
		<string>昆</string>
		<key>Item449</key>
		<string>玉</string>
		<key>Item45</key>
		<string>知</string>
		<key>Item450</key>
		<string>冠</string>
		<key>Item451</key>
		<string>泉</string>
		<key>Item452</key>
		<string>金</string>
		<key>Item46</key>
		<string>新</string>
		<key>Item47</key>
		<string>慎</string>
		<key>Item48</key>
		<string>敏</string>
		<key>Item49</key>
		<string>求</string>
		<key>Item5</key>
		<string>钦</string>
		<key>Item50</key>
		<string>审</string>
		<key>Item51</key>
		<string>心</string>
		<key>Item52</key>
		<string>咸</string>
		<key>Item53</key>
		<string>景</string>
		<key>Item54</key>
		<string>慕</string>
		<key>Item55</key>
		<string>述</string>
		<key>Item56</key>
		<string>学</string>
		<key>Item57</key>
		<string>继</string>
		<key>Item58</key>
		<string>前</string>
		<key>Item59</key>
		<string>修</string>
		<key>Item6</key>
		<string>武</string>
		<key>Item60</key>
		<string>高</string>
		<key>Item61</key>
		<string>瞻</string>
		<key>Item62</key>
		<string>祁</string>
		<key>Item63</key>
		<string>见</string>
		<key>Item64</key>
		<string>佑</string>
		<key>Item65</key>
		<string>厚</string>
		<key>Item66</key>
		<string>载</string>
		<key>Item67</key>
		<string>翊</string>
		<key>Item68</key>
		<string>常</string>
		<key>Item69</key>
		<string>由</string>
		<key>Item7</key>
		<string>大</string>
		<key>Item70</key>
		<string>慈</string>
		<key>Item71</key>
		<string>和</string>
		<key>Item72</key>
		<string>怡</string>
		<key>Item73</key>
		<string>伯</string>
		<key>Item74</key>
		<string>仲</string>
		<key>Item75</key>
		<string>简</string>
		<key>Item76</key>
		<string>靖</string>
		<key>Item77</key>
		<string>迪</string>
		<key>Item78</key>
		<string>先</string>
		<key>Item79</key>
		<string>猷</string>
		<key>Item8</key>
		<string>君</string>
		<key>Item80</key>
		<string>有</string>
		<key>Item81</key>
		<string>子</string>
		<key>Item82</key>
		<string>同</string>
		<key>Item83</key>
		<string>安</string>
		<key>Item84</key>
		<string>睦</string>
		<key>Item85</key>
		<string>勤</string>
		<key>Item86</key>
		<string>朝</string>
		<key>Item87</key>
		<string>在</string>
		<key>Item88</key>
		<string>肃</string>
		<key>Item89</key>
		<string>恭</string>
		<key>Item9</key>
		<string>胜</string>
		<key>Item90</key>
		<string>绍</string>
		<key>Item91</key>
		<string>伦</string>
		<key>Item92</key>
		<string>敷</string>
		<key>Item93</key>
		<string>惠</string>
		<key>Item94</key>
		<string>润</string>
		<key>Item95</key>
		<string>昭</string>
		<key>Item96</key>
		<string>格</string>
		<key>Item97</key>
		<string>广</string>
		<key>Item98</key>
		<string>登</string>
		<key>Item99</key>
		<string>庸</string>
	</dict>
	<key>Questions</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Chose1</key>
			<string>文学家</string>
			<key>Chose2</key>
			<string>科学家</string>
			<key>Chose3</key>
			<string>军事家</string>
			<key>Question</key>
			<string>如果有良好的学习环境，你认为自己最适合培养成什么专家?</string>
		</dict>
		<key>Item1</key>
		<dict>
			<key>Chose1</key>
			<string>历史书</string>
			<key>Chose2</key>
			<string>文学书</string>
			<key>Chose3</key>
			<string>科技书</string>
			<key>Question</key>
			<string>你最常阅读哪一类书籍？</string>
		</dict>
		<key>Item10</key>
		<dict>
			<key>Chose1</key>
			<string>视才能而决定</string>
			<key>Chose2</key>
			<string>了解背叛原因之再处置</string>
			<key>Chose3</key>
			<string>一律斩首</string>
			<key>Question</key>
			<string>一位你信赖的将领，不幸背叛了你。你是如何决定处置方式？</string>
		</dict>
		<key>Item11</key>
		<dict>
			<key>Chose1</key>
			<string>自己的儿子</string>
			<key>Chose2</key>
			<string>信任的老臣</string>
			<key>Chose3</key>
			<string>有领导力的人</string>
			<key>Question</key>
			<string>你是一位年老体衰的皇帝，你会将掌管国家的大任交给谁？</string>
		</dict>
		<key>Item12</key>
		<dict>
			<key>Chose1</key>
			<string>行事魄力型</string>
			<key>Chose2</key>
			<string>和善待人型</string>
			<key>Chose3</key>
			<string>思想细密型</string>
			<key>Question</key>
			<string>百姓的生活有时跟地方官息息相关，哪一型的人你会指派他担任地方行政长官?</string>
		</dict>
		<key>Item13</key>
		<dict>
			<key>Chose1</key>
			<string>只要一位珍爱的妻子。</string>
			<key>Chose2</key>
			<string>可以有两位以上的爱人。</string>
			<key>Chose3</key>
			<string>拥有三千佳丽。</string>
			<key>Question</key>
			<string>如果你是一位君主，对于身旁的伴侣，你希望？</string>
		</dict>
		<key>Item14</key>
		<dict>
			<key>Chose1</key>
			<string>管理的才能</string>
			<key>Chose2</key>
			<string>军事的强大</string>
			<key>Chose3</key>
			<string>百姓的生活</string>
			<key>Question</key>
			<string>当你身为皇帝，在统治国家时，你最重视哪一点？</string>
		</dict>
		<key>Item15</key>
		<dict>
			<key>Chose1</key>
			<string>军事占领</string>
			<key>Chose2</key>
			<string>外交屈服</string>
			<key>Chose3</key>
			<string>互不侵犯</string>
			<key>Question</key>
			<string>如果你的国家军力强大，对于接壤的国家，你会有什么样的动作？</string>
		</dict>
		<key>Item2</key>
		<dict>
			<key>Chose1</key>
			<string>仔细聆听</string>
			<key>Chose2</key>
			<string>滔滔大论</string>
			<key>Chose3</key>
			<string>适时陈述</string>
			<key>Question</key>
			<string>一群人聊天，你通常会扮演哪一种角色？</string>
		</dict>
		<key>Item3</key>
		<dict>
			<key>Chose1</key>
			<string>助人为乐</string>
			<key>Chose2</key>
			<string>见机行事</string>
			<key>Chose3</key>
			<string>做自己的事情</string>
			<key>Question</key>
			<string>当你正忙于一件事时，你的朋友要求你替他做另一件事，此时你通常</string>
		</dict>
		<key>Item4</key>
		<dict>
			<key>Chose1</key>
			<string>权威主义</string>
			<key>Chose2</key>
			<string>保护照顾</string>
			<key>Chose3</key>
			<string>民主型</string>
			<key>Question</key>
			<string>子女成长中，受父母亲的管教的影响很大，你的父母亲管教是属于哪一型？</string>
		</dict>
		<key>Item5</key>
		<dict>
			<key>Chose1</key>
			<string>心爱的恋人</string>
			<key>Chose2</key>
			<string>继承王位</string>
			<key>Chose3</key>
			<string>长生不老</string>
			<key>Question</key>
			<string>如果跟前只有一个选择，你会选择下列哪一项？</string>
		</dict>
		<key>Item6</key>
		<dict>
			<key>Chose1</key>
			<string>仁慈的态度</string>
			<key>Chose2</key>
			<string>威严的姿态</string>
			<key>Chose3</key>
			<string>平等的心态</string>
			<key>Question</key>
			<string>你的身份贵为太子，对于身旁的奴仆，你用什么态度对待他们？</string>
		</dict>
		<key>Item7</key>
		<dict>
			<key>Chose1</key>
			<string>自尽</string>
			<key>Chose2</key>
			<string>狼狈的逃跑</string>
			<key>Chose3</key>
			<string>同归于尽</string>
			<key>Question</key>
			<string>当京城被攻陷时，大好江山，即将在你手中易主，此时你会做出什么行动？</string>
		</dict>
		<key>Item8</key>
		<dict>
			<key>Chose1</key>
			<string>经济带来的富裕生活</string>
			<key>Chose2</key>
			<string>社会安定，享受天伦</string>
			<key>Chose3</key>
			<string>国家强盛的荣誉感</string>
			<key>Question</key>
			<string>一国之王关心他们的子民，你认为人民最想要的是什么？</string>
		</dict>
		<key>Item9</key>
		<dict>
			<key>Chose1</key>
			<string>法家思想</string>
			<key>Chose2</key>
			<string>儒家思想</string>
			<key>Chose3</key>
			<string>道家思想</string>
			<key>Question</key>
			<string>依你的看法，哪一种学术思想最合适君主时代的统治理念？</string>
		</dict>
	</dict>
</dict>
</plist>
